*{
	margin: 0 auto 0 auto;
	text-align:left;
}

body{
	margin:0;
	padding:0;
	text-align:left;
	font-size:13px;
	font-family:arial,helvetica, sens-serif;
	color:#000000;
	background-color:#1c478e;
	background-image:url(../images/background.png);
	background-repeat:repeat-x;
}

a{
	text-decoration:none;
}

table,tr,td,th{
	margin:0;
}

table{
	padding:10px 0;
}

th{
	text-align:center;
}

td{
	padding:5px 20px;
}

h2{
	padding-bottom:10px;
}

h3{
	font-size:16px;
	font-weight:bold;
	padding:10px 0;
	color:#054dbc;
}

h4{
	font-size:15px;
	font-weight:bold;
	padding-bottom:7px;
	color:#054dbc;
}

p{
	margin:10px 0;
}

label{
	display:inline-block;
	width:150px;
}

/* Main styles */
#container{
	width:960px;
	overflow:auto;
}

header{
	width:960px;
	height:85px;
}

header h1{
	float:left;
	color:#ffffff;
	font-size:36px;
	padding:30px 10px 0 10px;
}

header h2{
	float:right;
	color:#A9D1FA;
	padding:45px 95px 0 0;
}

header h1 span.blue-text{
	color:#67A0F5;
}

header h2 span.white-text{
	color:#ffffff;
}
#search{
	text-align:right;
	padding-top:5px;
	height:24px;/*chrome*/
	position:absolute;
	right:10px;
	top:40px;
}
		
	#search input{
		vertical-align:middle;
	}
			
	#search .search_input{
		width:140px;
		margin-right:5px;
		padding:5px 10px;
		color:#F2AA00;
		font-family:'KomikaTextTightRegular',Arial, Helvetica, sans-serif;
		font-size:12px;
		background-color:#280000;
		border:1px solid #7C0000;
		-webkit-border-radius: 3px;
		-khtml-border-radius: 3px;	
		-moz-border-radius: 3px;
		border-radius: 3px;
	}		
#social_media{
	position:absolute;
	right:40px;
	top:10px;
	padding-top:5px;
	text-align:right;
	color:#FFF;			
	font-family:'KomikaTitleRegular', Arial, Helvetica, sans-serif;
	font-size:16px;
	vertical-align:middle;
	text-shadow:2px 2px 2px rgba(0,0,0,.5);
}
#logo{
	position:absolute;
	left:120px;
	top:10px;
	width:70px;
	padding-top:0px;
	padding-right:5px;
}
aside{
	color:#fff;
}
aside input[type="text"],aside input[type="email"]{
	color:#000;
	margin-bottom:5px;
}

#displayname{
	float:right;
	color:#fff;
	font-weight:bold;
	font-size:16px;
}

nav#menu{
	display:block;
	float:left;
	clear:both;
	width:960px;
	height:54px;
}

nav#menu ul{
	list-style:none;
	padding:0;
	padding-top:18px;
	margin-left:auto;
	width:960px;
}

nav#menu li{
	list-style:none;
	padding:0;
	display;inline;
}

nav#menu li a,#menu li a:visited{
	float:left;
	color:#ffffff;
	text-decoration:none;
	text-align:center;
	font-size:15px;
	font-weight:bold;
	padding:0 13px 0 13px;
}

nav#leftmenu{
	margin-top:10px;
	width:190px;
	float:left;
	background:#1C478E;
	border-radius:10px;
	padding: 15px 20px 10px 10px;
}

nav#leftmenu ul{
	list-style:none;
	padding:0;
}

nav#leftmenu  li{
	list-style:none;
	padding:15px 0 8px 0;
	border-bottom:1px dashed #fff;
}

nav#leftmenu a,nav#leftmenu a:visited{
	color:#ffffff;
	text-decoration:none;
	font-weight:bold;
	font-size:14px;
}

nav#leftmenu h3{
	color:#ffffff;
	padding:0;
	padding-bottom:8px;
	border-bottom:#fff solid 2px;
	font-size:16px;
}

section{
	display:block;
	width:690px;
	margin-top:10px;
	float:left;
	background:#ffffff;
	border-radius:10px;
	border:6px solid #1C478E;
	padding:10px;
	margin-left:10px;
}

.float{
	float:right;
	margin:15px;
}

.developer{
	width:170px;
	float:right;
}

.developer ul{
	margin-bottom:10px;
	list-style:none;
	padding:0;
}

.developer li{
	list-style:none;
	line-height:1.7em;
}

table.dev-table,table.dev-table tr,table.dev-table td,table.dev-table th{
	font-size:110%;
}
dev-table tr,table.dev-table td{
	border-bottom: 1px dashed #000000;
}

footer{
	width:100%;
	height:26px;
	background:#000;
	color:#fff;
	text-align:center;
	margin-top:5px;
	padding-top:5px;
}
button.select:hover {
     
	background-color: black;
     
	color: white;
     
	border-color: red;     
   
}
#a{
	position:absolute;
	left:30px;
	bottom:-170px;
}
#b{
	position:absolute;
	left:100px;
	bottom:-170px;
}
#c{
	position:absolute;
	right:110px;
	bottom:-170px;
}
#d{
	position:absolute;
	right:30px;
	bottom:-170px;
}
